@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    box-shadow: 10px 10px 28px #bebebe, -10px -10px 28px #ffffff;
    background-color: #e0e0e0;
  }

  .card:hover {
    box-shadow: inset 10px 10px 28px #bebebe, inset -10px -10px 28px #ffffff;
  }

  .card-dark {
    box-shadow: 10px 10px 28px #131313, -10px -10px 28px #2f2f2f;
    background-color: #212121;
  }

  .card-dark:hover {
    box-shadow: inset 10px 10px 28px #131313, inset -10px -10px 28px #2f2f2f;
  }
}
