@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    box-shadow: 10px 10px 28px #bebebe, -10px -10px 28px #ffffff;
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    border-width: 2px;
  }

  .card-dark {
    box-shadow: 10px 10px 28px #131313, -10px -10px 28px #2f2f2f;
    background-color: #212121;
    border-color: #212121;
    border-width: 2px;
  }
}
